<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  
  <bean id="ans1" class="com.askar.Answer">
    <constructor-arg value="1" type="int"></constructor-arg>
    <constructor-arg value="Java is a programming language"></constructor-arg>
    <constructor-arg value="Askar"></constructor-arg>
  </bean>
  <bean id="ans2" class="com.askar.Answer">
    <constructor-arg value="2" type="int"></constructor-arg>
    <constructor-arg value="Java is a Platform"></constructor-arg>
    <constructor-arg value="Masss"></constructor-arg>
  </bean>
  <bean id="ans3" class="com.askar.Answer">
    <constructor-arg value="3" type="int"></constructor-arg>
    <constructor-arg value="Don't Know!!"></constructor-arg>
    <constructor-arg value="Surya"></constructor-arg>
  </bean>
  
  <bean id="q" class="com.askar.Question">
      <constructor-arg value="123" type="int"></constructor-arg>
      <constructor-arg value="What is Java?"></constructor-arg>
      <constructor-arg>
          <list>
              <ref bean="ans1"/>
              <ref bean="ans2"/>
              <ref bean="ans3"/>
          </list>
      </constructor-arg>
  </bean>
  
</beans>
